<a href="https://colab.research.google.com/github/sudeep-009/CricketScoreCard-analysis/blob/main/Copy_of_Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

#**Introduction**
![Untitled-66.png]()






There is famous phrase which tell us that ***Data is the new oil of 21st century.***Business growth involves garnering as many customers as you can. This requires knowing exactly what customers desire and what channels they use to find products and services.In today cut-throat competation taking business decision based on gut-feel could have negative impact. Therefore utilizing the potential of value store beneath the mountain of data would be very effective.     
     In the PlayStore App data analysis we generally tried to find some of the actionalble insight that would help our app developers to develop an app that would have huge customer base based on their previous experience. Digging out the value from data which would help the app making business to grow at huge volume is the main objective of this data analysis

#**Exploratory Data Analysis**
Before starting we should first understand what actually Exploratory Data Analysis is ?
Exploratory Data Analysis refers to the critical process of performing initial investigations on data so as to discover patterns,to spot anomalies,to test hypothesis and to check assumptions with the help of summary statistics and graphical representations.It is a good practice to understand the data first and try to gather as many insights from it. EDA is all about making sense of data in hand,before getting them dirty with it.
As we have understand what EDA actually is lets start our fun journey of playing around with the dataset.

#**Lets Start Our Journey!!!**

In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl
mpl.style.use('ggplot') #to have ggplot like style
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
color = sns.color_palette()
import plotly
plotly.offline.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.express as px
import plotly.figure_factory as ff

import warnings
warnings.filterwarnings('ignore')

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

First we will import our datasets and convert it into pandas DataFrame.We have been given two datasets one for the PlayStore App and another for the user review. Lets go through it one by one. First we will explore the app dataset and then we will go through the userview dataset.

In [5]:
working_directory = '/content/drive/MyDrive/Colab Notebooks/AlmaBetter/Capstone Projects/EDA-Capstone-Play Store App Review'
app_df = pd.read_csv(working_directory+'/Play Store Data.csv')
user_review_df = pd.read_csv(working_directory+'/User Reviews.csv')

##**First we will go through our App Dataset**

Let see the first five record of our dataset so as to have some basic idea of what actually we have.

In [6]:
app_df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

**Let See how many records we have in our app dataset and the number of features for each record**

In [7]:
print(f'No. of records present in our dataset: {app_df.shape[0]}')
print(f'No. of features each record have is: {app_df.shape[1]}')

No. of records present in our dataset: 10841
No. of features each record have is: 13

**Lets go through the each of the features present in our app dataset**

In [8]:
app_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

Features present in our App dataset are as follows:

*   App: Name of the App.
*   App Category: Category of the app. This could be beauty, business, entertainment, education...etc.

*   Rating: How users rate the app out of 5, with 1 being the lowest rating and 5 being the highest.

*   Reviews: The number of user reviews each app has received.

*   Size: The memory size needed to install the application.

*   Installs: The number of times each application has been installed by users.

*   Type: Whether the app is free or a paid app.

*   Price: The price of the app.

*   Content Rating: This column specifies the intended audience for the app. Can be for teens, mature audience, or everyone.

*   Genres: The sub-category for each app. Example: for the Education category, this could be Education: Pretend Play, for example.

*   Last Updated: Release date of the most recent update for the app.

*   Current Ver: The app's current version.

*   Android Ver: The oldest version of Android OS supported by the app.

In [9]:
def PS_info():
  info = pd.DataFrame(index=app_df.columns)
  info['dtype'] = app_df.dtypes
  info['Unique'] = app_df.nunique()
  info['Num_ofNullValues'] = app_df.isnull().sum()
  info['Num_nonNullValues'] = app_df.count()
  info['percent_ofNullValues'] = info['Num_ofNullValues']/len(app_df) * 100
  return info

PS_info()

                  dtype  Unique  ...  Num_nonNullValues  percent_ofNullValues
App              object    9660  ...              10841              0.000000
Category         object      34  ...              10841              0.000000
Rating          float64      40  ...               9367             13.596532
Reviews          object    6002  ...              10841              0.000000
Size             object     462  ...              10841              0.000000
Installs         object      22  ...              10841              0.000000
Type             object       3  ...              10840              0.009224
Price            object      93  ...              10841              0.000000
Content Rating   object       6  ...              10840              0.009224
Genres           object     120  ...              10841              0.000000
Last Updated     object    1378  ...              10841              0.000000
Current Ver      object    2832  ...              10833              0.073794
Android Ver      object      33  ...              10838              0.027673

[13 rows x 5 columns]

# **Lets go through the User Review dataset!!!**

In [10]:
user_review_df.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

**Let see how many records are present in our dataset and also the number of features each record have**

In [11]:
print(f'No of Records present in user review dataset are {user_review_df.shape[0]}')
print(f'No of features each record have is {user_review_df.shape[1]}')

No of Records present in user review dataset are 64295
No of features each record have is 5

**Lets go through each of the features and see what it tell us**

In [12]:
user_review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

So Basically we have five features in this dataset which are as follows:




*   App - It tells us about the name of the application.
*   Translated_Review - It tells us about what the users feedback is about the application.
*   Sentiment - It tells us about a view or opinion of the user w.r.t. the application.
*   Sentiment_Polarity - Sentiment polarity for an element defines the orientation of the expressed sentiment, i.e., it determines if the text expresses the positive, negative or neutral sentiment of the user about the application.
*   Sentiment_Subjectivity - It refers to the text that contains text which is usually expressed by a human having typical moods, emotions, and feelings. Mostly it is a public opinion and not a factual information.

In [13]:
def UR_info():
  info = pd.DataFrame(index=user_review_df.columns)
  info['dtype'] = user_review_df.dtypes
  info['Unique'] = user_review_df.nunique()
  info['Num_ofNullValues'] = user_review_df.isnull().sum()
  info['Num_nonNullValues'] = user_review_df.count()
  info['percent_ofNullValues'] = info['Num_ofNullValues']/len(user_review_df) * 100
  return info
UR_info()

                          dtype  ...  percent_ofNullValues
App                      object  ...              0.000000
Translated_Review        object  ...             41.788631
Sentiment                object  ...             41.780854
Sentiment_Polarity      float64  ...             41.780854
Sentiment_Subjectivity  float64  ...             41.780854

[5 rows x 5 columns]

#### **Now its time to start doing some cleaning operation**
We will start with handling the **missing values** present in our app dataset

In [21]:
app_df_na = app_df.isnull().sum()/len(app_df)*100
app_df_na = app_df_na.drop(app_df_na[app_df_na == 0].index,axis=0).reset_index()
app_df_na.columns = ['Feature Name','Missing Ratio']
app_df_na

     Feature Name  Missing Ratio
0          Rating      13.596532
1            Type       0.009224
2  Content Rating       0.009224
3     Current Ver       0.073794
4     Android Ver       0.027673

I will **drop all the null values present the Rating column** because filling almost 14% of data with some alternative value could lead us to a wrong analysis and i think rating is very important feature present in this dataset so i will not going to manipulate it.

In [22]:
app_df.dropna(subset=['Rating'],inplace=True)

In [23]:
app_df_na = app_df.isnull().sum()/len(app_df)*100
app_df_na = app_df_na.drop(app_df_na[app_df_na == 0].index,axis=0).reset_index()
app_df_na.columns = ['Feature Name','Missing Ratio']
app_df_na

     Feature Name  Missing Ratio
0  Content Rating       0.010676
1     Current Ver       0.042703
2     Android Ver       0.032027

Ratio of Missing value for all other feature is almost negligible so just fill them with their mode

In [24]:
app_df['Current Ver'] = app_df['Current Ver'].fillna(app_df['Current Ver'].mode())
app_df['Android Ver'] = app_df['Android Ver'].fillna(app_df['Android Ver'].mode())
app_df['Content Rating'] = app_df['Content Rating'].fillna(app_df['Content Rating'].mode())

**Duplicate Values**
Now Let See how many duplicate value are present are in the App Column and drop those records as these are added more than one time by mistake. Means its just like having two or more record for the same app. So lets just delete them

In [27]:
duplicate_app = len(app_df)-len(pd.unique(app_df['App']))
print(f'Number of duplicate value present in the app column is {duplicate_app}')

Number of duplicate value present in the app column is 1170

In [28]:
app_df = app_df.drop_duplicates(subset=['App'])

Now let see how many records are present in the dataset after removing the duplicates and dropping the null values

In [29]:
print(f'No. of records present in our dataset is: {app_df.shape[0]}')

No. of records present in our dataset is: 8197